<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/Automation Tools/FullAutomation/JAVA_OOP">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="com.mytest.LoginTest">
                <methods>
                    <include name="verifyLoginPageTitleTest"/>
                    <include name="verifyLoginPageHeaderTest"/>
                    <include name="doLoginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>